@layer base, starlight, theme, components, utilities;

@import '@fontsource-variable/nunito';
@import '@fontsource-variable/fira-code';
@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
	/*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
	--font-sans: 'Nunito Variable';
	--font-mono: 'Fira Code Variable';
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/
